<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="details" routerLinkActivate="active" class="nav-link">Record Details</a>
    </li>
    <li class="nav-item">
      <a routerLink="create" routerLinkActivate="active" class="nav-link">Create new Record</a>
    </li>
    <li class="nav-item">
      <a routerLink="verify" routerLinkActivate="active" class="nav-link">Verify Item</a>
    </li>
  </ul>
</nav>
<h2 class="text-center">{{title}}</h2>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <span>All Right Reserved </span>
  </div>
</footer>